.card-user {
  border: 1px solid black;
  border-radius: 10px;
  padding: 12px;
  width: 300px;

  h4 {
    color: rgb(3, 30, 24);
  }
  h3 {
    color: aliceblue;
  }

  .card-title {
    color: #404040;
  }
}
